<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
</head>
<body>
    <!-- <audio id="audio1" controls></audio> -->
    <audio id="audio2" controls></audio>
    <script>
        // const url = '<%- url %>'
        // document.getElementById('audio1').src = url
        document.getElementById('audio2').src = '/audio/stream'
    </script>
</body>
</html>