<header>
    <div id="srch_bar">
        <form name="myform" class="form-inline" action="/search" method="get">
            <input class="form-control mr-2 col" type="text" id="srchKwd" name="srchKwd" placeholder="DIBE 검색">
            <button id="srch_btn" class="btn btn-secondary col-1" type="button">Search</button>
        </form>
    </div>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>