<style>
	i.fa-magnifying-glass:hover {
		cursor: pointer;
	}
</style>
<div id="title_search" class="row">
    <h4 class="col"><a href="/">DIBE</a></h4>
    <div id="main_srch" class="col-1"><i class="fa-solid fa-magnifying-glass"></i></div>
</div>