<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
		#title_search {
            background: black;
            color: white;
            height: 60px;
        }
        
        a {
            text-decoration: none;
            color: inherit;
            opacity: 1;
		}
		
		a:hover {
            text-decoration: none;
            color: inherit;
            opacity: 0.7;
		}
		
		h4{
			padding-top: 15px;
			margin-left: 20px;
		}
	</style>
</head>
<body>
    <div id="title_search" >
        <h4><a href="/">DIBE</a></h4>
	</div>
</body>
</html>