<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= _title %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
    <link rel="shortcut icon" href="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg" />
    <style>
        .ho:hover{
            cursor: pointer;
            opacity: 0.5;
        }

        hr {
            border: none;
            border-top: 1px dotted black;
            color: #fff;
            background-color: #fff;
            height: 1px;
        }
    </style>
</head>
<body>
    <%- include('../include/findModal') %>

    <section>
        <div class="main-container">
            <div class="container p-3 my-3 border">
                <div class="form-container">
                    <form method="post">
                        <h2 onclick="location.href='/'" class="ho">DIBE</h2>
                        <div class="mb-3 control-r" onclick="location.href='/users/kakao'"><img style="width: 295px;" src="/img/kakao-login.png"></div>
                        <hr class="mb-5">
                        <h6 class="mb-3">DIBE 로그인</h6>
                        <div class="form-group">
                            <input class="form-control input-control" type="text" id="userId" name="userId" placeholder="아이디" autofocus required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-control" type="password" id="pwd" name="pwd"
                                placeholder="비밀번호" required>
                        </div>
                        <div class="form-group custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="loginCheck" name="loginCheck" onchange="" style="display: none;">
                            <label class="custom-control-label" for="loginCheck">로그인 상태 유지</label>
                        </div>
                        <div id="demo" class="demo-box"></div>
                        <div class="form-group">
                            <input class="form-control login-control" type="submit" id="login_btn" name="login_btn"
                                value="로그인">
                        </div>
                        <div class="d-flex form-foot">
                            <div class="p-2 mr-auto"><a href="/users/signup">회원가입</a></div>
                            <div class="p-2 control-r" data-toggle="modal" data-target="#myModal1">다이브계정</div>
                            <div class="p-2">|</div>
                            <div class="p-2 control-r" data-toggle="modal" data-target="#myModal2">비밀번호 찾기</div>
                        </div>
                    </form>
                </div>
            </div>
            <footer class="container">
                Copyright <strong>© DoubleD.</strong> All rights reserved.
            </footer>
        </div>
    </section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<script>
        if ('<%- loginError %>') alert('<%- loginError %>')
		$("#loginCheck").click(() => {
			if ($("#loginCheck").prop("checked")) {
				if(confirm("다음 로그인 부터 로그인 상태를 유지하시겠습니까?\n단, 사용자에 브라우저에서 쿠키사용을 허용해야만 정상 작동 합니다.\n정상 로그아웃을 하면 로그인 상태 유지가 해지 됩니다.")) {
					$("#loginCheck").prop("checked", true);
					return;
				}
				$("#loginCheck").prop("checked", false);
			}
		});
	</script>
</body>
</html>