<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>
    <body>
        <jsp:include page="/WEB-INF/views/include/searchBar.jsp" />
        <jsp:include page="/WEB-INF/views/include/nav.jsp" />
        <jsp:include page="/WEB-INF/views/include/header.jsp" />

    <div id="title_search" class="row">
        <h4 class="col"><a href=""><%= title %></a></h4>
        <div id="main_srch" class="col-1"><i class="fa-solid fa-magnifying-glass"></i></div>
    </div>

    <nav>
        <div class="card-body nav-w">
            <div>
                <c:if test="${sVO == null }">
                    <div class="text-center"><a href="">로그인</a></div>
                </c:if>
                <div class="row">
                    <!-- <c:if test="${sVO != null }">
                    <c:if test="${empty sVO.profileImg }">
                        <div class="col-2"><i class="fa-solid fa-user"></i></div>
                    </c:if>
                    <c:if test="${!empty sVO.profileImg }">
                        <div class="col-2 mr-2" style="margin-top: -2px;"><img src="${ctp }/resources/img/${sVO.profileImg}"></div>
                    </c:if>
                    <div class="col ho" id="dropMenu" >
                        <c:if test="${!empty sVO.nickNm }">${sVO.nickNm }</c:if>
                        <c:if test="${empty sVO.nickNm }">${sMid}</c:if>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    </c:if> -->
                </div>
                <div class="list-group my-group">
                    <ul>
                        <c:if test="${sVO != null }">
                            <li class="list-group-item list-group-item-light"><a href="${ctp }/user/membership/${sVO.idx}">My 멤버십</a></li>
                            <li class="list-group-item list-group-item-light"><a href="${ctp }/review/list?kategorie=공지">공지사항</a></li>
                            <li class="list-group-item list-group-item-light"><a href="${ctp }/user/profile/${sVO.idx}">계정설정</a></li>
                        <c:if test="${sVO.membership == -1}">
                            <li class="list-group-item list-group-item-light"><a href="${ctp }/admin/main" target="_blank">관리자</a></li>
                        </c:if>
                        <li class="list-group-item list-group-item-light"><a onclick="return confirm('로그아웃 하시겠습니까?')" href="${ctp }/user/logout">로그아웃</a></li>
                        </c:if>
                    </ul>
                </div>
            </div>
            <div>
                <ul>
                    <li><a href="${ctp }/today">투데이</a></li>
                    <li><a href="${ctp }/chart">차트</a></li>
                    <li><a href="${ctp }/temp">DJ 스테이션</a></li>
                    <li><a href="${ctp }/rank">이달의 노래</a></li>
                </ul>
                <c:if test="${sVO != null }">
                    <ul>
                        <div>보관함</div>
                        <li><a href="${ctp }/temp">믹스테잎</a></li>
                        <li><a href="${ctp }/artisttape">아티스트</a></li>
                        <li><a href="${ctp }/user/playlist">플레이리스트</a></li>
                        <li><a href="${ctp }/gift">받은노래</a></li>
                        <li><a href="${ctp }/song/mp3">구매한 MP3</a></li>
                    </ul>
                </c:if>
                <ul>
                    <li><a href="${ctp }/myranking">#내돈내듣</a></li>
                    <li><a href="${ctp }/intro">서비스 소개</a></li>
                    <li><a href="${ctp }/review/list">사용자 리뷰</a></li>
                    <li><a href="${ctp }/comming">커밍쑨 DDMusic</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="srch_bar">
            <form name="myform" class="form-inline" action="" method="get">
                <input class="form-control mr-2 col" type="text" id="srchKwd" name="srchKwd" value="" placeholder="DD Music 검색" autofocus>
                <button id="srch_btn" class="btn btn-secondary col-1" type="button">Search</button>
            </form>
        </div>
        <video style="width: 100%;" src="" autoplay muted></video>
    </header>
    
    <section>
            <div class="ml-5">
                <div class="section-row-box">
                    <div class="section-row">
                        <h5><a href=""><b>매거진 &gt;</b> </a></h5>
                        <div class="row">
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img"
                                        src="https://music-phinf.pstatic.net/20211208_116/1638950208342lqWMJ_JPEG/%C4%BF%B9%F61-1.jpg?type=w720"
                                        alt=""></a>
                                    <a href="">1415의<br>시즌2</a>
                                <div>2021.12.08</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img"
                                        src="https://music-phinf.pstatic.net/20211201_273/1638328877235nHVRM_JPEG/%C4%BF%B9%F61.jpg?type=w720"
                                        alt=""></a>
                                <a href="">장우혁,<br> 변화와 불변</a>
                                <div>2021.12.01</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img"
                                        src="https://music-phinf.pstatic.net/20211126_197/1637908989494Tbm6x_JPEG/%C4%BF%B9%F61.jpg?type=w720"
                                        alt=""></a>
                                <a href="">힙한 소리꾼들의 전쟁,<br> &lt;풍류대장&gt;  </a>
                                <div>2021.11.26</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img"
                                        src="https://music-phinf.pstatic.net/20211129_104/1638174821362S7VVq_JPEG/%C4%BF%B9%F61.jpg?type=w720"
                                        alt=""></a>
                                <a href="">New Release #69,<br> 나일 호란, 앤마리</a>
                                <div>2021.11.29</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img"
                                        src="https://music-phinf.pstatic.net/20211123_53/1637658571914Rq5LR_JPEG/%C4%BF%B9%F61.jpg?type=w720"
                                        alt=""></a>
                                <a href="">마법 그 자체인 그 영화!,<br> &lt;엔칸토&#58; 마법의 세계&gt; </a>
                                <div>2021.11.26</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img"
                                        src="https://music-phinf.pstatic.net/20211122_73/1637567368380lItzc_JPEG/%C4%BF%B9%F61.jpg?type=w720"
                                        alt=""></a>
                                <a href="">하이틴 그 자체로 돌아온<br>전소미</a>
                                <div>2021.11.24</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img"
                                        src="https://music-phinf.pstatic.net/20211028_79/1635391214685dCLaq_JPEG/1.jpeg?type=w720"
                                        alt=""></a>
                                <a href="">이주의 디깅 #121 아델</a>
                                <div>2021.10.26</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="/public/images/a1.png" alt=""></a>
                                <a href="">New Release #64 : 디제이 스네이크,<br> 홍광호</a>
                                <div>2021.10.25</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="https://raw.githubusercontent.com/DodamKing/DDMusic/master/cjs2108_kdd/src/main/webapp/resources/img/a2.png" alt=""></a>
                                <a href="">꼭 들어야 할 여섯 장의 앨범 : 따마,<br> 데드보이즈</a>
                                <div>2021.10.22</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="images/11.png" alt=""></a>
                                <a href="">이주의 디깅 #120 스트릿 우먼 파이터</a>
                                <div>2021.10.19</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="${ctp }/resources/img/12.png" alt=""></a>
                                <a href="">New Release #63 : 아델,<br> 스텔라 장</a>
                                <div>2021.10.18</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="${ctp }/resources/img/13.png" alt=""></a>
                                <a href="">무엇이든 물어보세요 : 트라이비(TRI.BE)</a>
                                <div>2021.10.14</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-row-box">
                    <div class="section-row">
                        <h5><a href=""><b>NEWS</b></a></h5>
                        <div class="row">
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="https://music-phinf.pstatic.net/20211209_88/1639013687201Qi8di_JPEG/1209_%BE%C6%C0%CC%BA%EA.jpg?type=f310_182" alt=""></a>
                                <a href="">아이브의 'ELEVEN'이 빌보드 월드 디지털 송차트에서 12위를 차지하였습니다</a>
                                <div><a href="https://sports.khan.co.kr/entertainment/sk_index.html?art_id=202112081650013&sec_id=540301" target="_blank">관련 뉴스 보기</a></div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="https://music-phinf.pstatic.net/20211206_50/1638755421959AWsJr_JPEG/1206_txt_%B4%BA%BD%BA.jpg?type=f310_182" alt=""></a>
                                <a href="">투모로우바이투게더가 롤링스톤의 '올해의 앨범'에 선정되었습니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="https://music-phinf.pstatic.net/20211203_148/1638494270842kFmBn_JPEG/1203_%C1%A4%C1%D8%C0%CF.jpg?type=f310_182" alt=""></a>
                                <a href="">정준일이 소극장 콘서트 '겨울'을 개최합니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="https://music-phinf.pstatic.net/20211202_168/1638418143389ghTzR_PNG/1202_%C8%AD%BB%E7%B4%BA%BD%BA.png?type=f310_182" alt=""></a>
                                <a href="">화사가 빌보드 월드 디지털 송 세일 차트에 진입하였습니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="https://music-phinf.pstatic.net/20211201_3/1638327364872R9kak_JPEG/1201_nct127.jpg?type=f310_182" alt=""></a>
                                <a href="">NCT 127이 '빌보드 200'에 10주 연속 진입하였습니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="https://music-phinf.pstatic.net/20211130_161/163823852954470Gao_PNG/1130_sf9%B4%BA%BD%BA.png?type=f310_182" alt=""></a>
                                <a href="">SF9이 'RUMINATION'으로 초동 판매량 자체 최고기록을 경신하였습니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="${ctp }/resources/img/1.png" alt=""></a>
                                <a href="">아델의 Easy on Me가 '빌보드 핫 100' 1위를 차지하였습니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="${ctp }/resources/img/2.png" alt=""></a>
                                <a href="">라잇썸의 'VAVACE'가 빌보드 월드 디지털 송 차트에서 8위를 차지하였습니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="${ctp }/resources/img/3.jpg" alt=""></a>
                                <a href="">온앤오프가 첫 단독 콘서트를 개최합니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="${ctp }/resources/img/4.png" alt="">
                                </a>
                                <a href="">자우림이 단독 콘서트 '영원한 사랑'을 개최 합니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="${ctp }/resources/img/5.jpg" alt=""></a>
                                <a href="">이달의 소녀가 오리콘 데일리 차트 3위에 올랐습니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                            <div class="col">
                                <a href="" class="section-img-box"><img class="section-img" src="${ctp }/resources/img/6.png" alt=""></a>
                                <a href="">황치열이 2년 만에 단독 콘서트를 개최합니다</a>
                                <div>관련 뉴스 보기</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- <jsp:include page="/WEB-INF/views/include/sFooter.jsp" /> -->
        <div class="text-left" style="padding-left: 100px;">
            <p>DDMusic 대표이사 김도담</p>
            <p>주소 : 충청북도 청주시 서원구 사직대로 109 그린컴퓨터아트</p>
            <p>이메일 : power6120@naver.com</p>
            <p>개인정보처리방침 이용약관 고객센터 결제/환불 안내 스마트봇 톡톡상담 사업자정보 확인</p>
            <p class="mt-5">Copyright ⓒ 2021. DoubleD. All rights reserved.</p>
            <p class="mt-5 text-secondary">본 사이트의 목적은 학업에 있으며, 어떠한 상업적인 이익도 취하지 않고 있습니다.</p>
            <p class="text-secondary">본 사이트의 내용을 무단 배포 및 상업적으로 이용할 시 책임은 당사자에게 있음을 밝힙니다.</p>
        </div>
        </section>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="javascripts/main.js"></script>
    </body>
</html>
