<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
</head>
<body>
    <audio id="audio" controls></audio>
    <audio controls></audio>
    <script>
        const url = '<%- url %>'
        const file = '<%- file %>'
        const audio = document.getElementsByTagName('audio')
        // const audio = document.getElementById('audio')

        // audio[0].setAttribute("src", url);
        document.getElementById('audio').src = url
        audio[1].setAttribute("src", '');
    </script>
</body>
</html>