<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="shortcut icon" href="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg" />
    <title>DIBE</title>
</head>
<body>
    <h3 class="mt-5">DIBE에 오신 것을 환영합니다.</h3>
    <h5 class="mt-5">아직 모바일로 이용할 수 없습니다.</h5>
    <h5 class="mt-5">모바일용 페이지를 제작중에 있습니다.</h5>
    <h5 class="mt-5">신속히 만들도록 하겠습니다. 감사합니다.</h5>
</body>
</html>