<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>DIBE</title>
    <style>
        .ho {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card-body">
            <h1>음원관리</h1>
            <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='/admin/index'">돌아가기</button>
            <button type="button" class="btn btn-secondary btn-sm" onclick="fetch('/admin/testYtUrl')">url 검사</button>
            <button type="button" class="btn btn-secondary btn-sm" onclick="localDown()">url 추출</button>
            <div class="mt-5">
                <form method="post">
                    <div class="input-group mb-3">
                        <input name="query" type="text" class="form-control query" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-success search" type="submit">검색</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <% if (locals.songs) { %>
                <div>
                    <div class="text-right"><%- songs.length %> 곡</div>
                    <table class="table table-hover ho">
                            <% for (song of songs) { %>
                                <tr onclick="location.href='/admin/update/<%-song._id%>'">
                                    <td><%- song.title %></td>
                                    <td><%- song.artist %></td>
                                </tr>
                            <% } %>
                    </table>
                </div>
            <% } %>
                
            <pre id="resultDiv"></pre>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

    <script>
        async function localDown() {
            const res = await fetch('/admin/setYtUrl')
            const data = await res.json()
            let write = 'songs <br>'
            write += `${JSON.stringify(data.results, null, 2)} <br><br>`
            $('#resultDiv').html(write)
        }

        $('.query').on('keyup', (e) => {
            if (e.keyCode === 13) $('.search').click()
        })
    </script>
</html>