<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>DIBE</title>
</head>
<body>
    <div class="container mt-5">
        <div class="card-body">
            <h1>음원관리</h1>
            <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='/admin/index'">돌아가기</button>
            <button type="button" class="btn btn-secondary btn-sm" onclick="localDown()">음원 다운</button>
        </div>
    </div>

    <script>
        async function localDown() {
            const res = await fetch('/songs/downs/local')
            const data = await res.json()
            let write = 'songs <br>'
            write += `${JSON.stringify(data.songs)} <br><br>`
            $('#resultDiv').html(write)
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>