<div class="modal fade" id="addOne">
	<div class="modal-dialog">
		<div class="modal-content" style="background: black;">
			<!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">곡 추가</h4>
                <button type="button" class="close" data-dismiss="modal" onclick='mylist_box_re()'>&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" class="btn btn-danger form-control" onclick="senddata()" data-dismiss="modal">현재 재생 목록에 추가</button>
                <button type="button" class="btn btn-danger form-control mt-3" onclick="download()">저장</button>
                <button type="button" class="btn btn-danger form-control mt-3" onclick="gift()">선물하기</button>
                <button type="button" class="btn btn-danger form-control mt-3" onclick="getlist()">플레이리스트에 추가</button>
                <div id="idx_box" style="display: none;"></div>
                <div id="ytURL_box" style="display: none;"></div>
                <div id="mylist_box" class="mt-5"></div>
                <div id="message_box1" style="display: none;" class="text-center">추가 되었습니다</div>
                <div id="message_box2" style="display: none;" class="text-center">이미 추가 된 곡입니다</div>
                <div id="message_box3" style="display: none;" class="text-center">로그인이 필요합니다</div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="mclose_btn" type="button" class="btn btn-danger" data-dismiss="modal" onclick='mylist_box_re()'>Close</button>
            </div>
        </div>
	</div>
</div>

<div class="modal fade" id="addMany">
	<div class="modal-dialog">
		<div class="modal-content" style="background: black;">
			<!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">곡 추가</h4>
                <button type="button" class="close" data-dismiss="modal" onclick='mylist_box_re()'>&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" class="btn btn-danger form-control" onclick="godata_many()" data-dismiss="modal">현재 재생 목록에 추가</button>
                <button type="button" class="btn btn-danger form-control mt-3" onclick="getlist_many()">플레이리스트에 추가</button>
                <div id="mylist_box_many" class="mt-5"></div>
                <div id="message_box_many" style="display: none;" class="text-center">추가 되었습니다</div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="mclose_btn" type="button" class="btn btn-danger" data-dismiss="modal" onclick='mylist_box_re()'>Close</button>
            </div>
        </div>
	</div>
</div>

<script>
	function getlist() {
		if ("${sVO}" == "") return;
		$.ajax({
			type : "post",
			url : "${ctp}/user/getlist",
			success : (data) => {
				let res = "";
				data.forEach((e) => {
					res += "<div class='d-flex justify-content-center ho mb-3' onclick='action(" + e.idx + ")'>";
					res += '<div style="width: 50px; height: 50px;" class="col-2">';
					res += '<div class="row" style="margin-left: 0px;">';
					if (e.thum1 == null) {
						res += '<div><img width="50px" src="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += '</div></div>';
					}
					else if (e.thum4 == null) {
						res += '<div><img width="50px" src="' + e.thum1 + '"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += '</div></div>';
					}
					else {
						res += '<div><img width="25px" src="' + e.thum1 + '"></div>';
						res += '<div><img width="25px" src="' + e.thum2 + '"></div>';
						res += '</div>';
						res += '<div class="row" style="margin-left: 0px;">';
						res += '<div><img width="25px" src="' + e.thum3 + '"></div>';
						res += '<div><img width="25px" src="' + e.thum4 + '"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += "</div></div></div>";
					}
				});
				mylist_box.innerHTML = res;
				
			} 
		});
	}

    function getlist_many() {
		if ("${sVO}" == "") return;
		$.ajax({
			type : "post",
			url : "${ctp}/user/getlist",
			success : (data) => {
				let res = "";
				data.forEach((e) => {
					res += "<div class='d-flex justify-content-center ho mb-3' onclick='action_many(" + e.idx + ")'>";
					res += '<div style="width: 50px; height: 50px;" class="col-2">';
					res += '<div class="row" style="margin-left: 0px;">';
					if (e.thum1 == null) {
						res += '<div><img width="50px" src="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += '</div></div>';
					}
					else if (e.thum4 == null) {
						res += '<div><img width="50px" src="' + e.thum1 + '"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += '</div></div>';
					}
					else {
						res += '<div><img width="25px" src="' + e.thum1 + '"></div>';
						res += '<div><img width="25px" src="' + e.thum2 + '"></div>';
						res += '</div>';
						res += '<div class="row" style="margin-left: 0px;">';
						res += '<div><img width="25px" src="' + e.thum3 + '"></div>';
						res += '<div><img width="25px" src="' + e.thum4 + '"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += "</div></div></div>";
					}
				});
				mylist_box_many.innerHTML = res;
			}
		});
	}
	
	function mylist_box_re() {
		mylist_box.innerHTML = "";
	}

	async function senddata() {
            const songId = idx_box.innerHTML
            const ytURL = ytURL_box.innerHTML
            if (!songId || !ytURL) return alert('준비중 입니다')

            if (!myPlayer) {
                const title = 'playerPop'
                const url = `/songs/open_player?songId=${songId}`
                const status = 'resizable=no, width=1100px, heght=800px'
                myPlayer = await window.open(url, title, status)
                return
            }

            const res = await fetch('/songs/addsong?songId=' + songId)
            console.log(res);
            const json = await res.json()
            const song = json.song
            myPlayer.setList(song)
        }

    async function godata_many() {
		const songIds = []
		let strSongIds = ''
		const items = $("input:checkbox[name='tch']")
		for (item of items) {
			if (item.checked) {
				songIds.push(item.value)
				strSongIds += item.value + '/'
			}
		}
		
		if (!myPlayer) {
			const title = 'playerPop'
			const url = `/songs/open_player`
			const status = 'resizable=no, width=1100px, heght=800px'
			myPlayer = window.open('', title, status)
			
			let form = document.createElement('form')
			form.action = url
			form.method = 'POST'
			form.target = title
			
			let insert = document.createElement('input')
			insert.type = 'hidden'
			insert.name = 'songIds'
			insert.value = songIds
			form.appendChild(insert)

			form.style.display = 'none'
			document.body.appendChild(form)
			form.submit()
			return
		}
		
		const res = await fetch('/songs/addsongs', {
			method : 'POST',
			headers : {'Content-Type' : 'application/json'},
			body : JSON.stringify({songIds})
		})
		const json = await res.json()
		const songs = json.songs
		for (song of songs) {
			myPlayer.setList(song)
		}
    }

	function popClose() {
		myPlayer = ''
	}
	
</script>