<div class="modal fade" id="addOne">
	<div class="modal-dialog">
		<div class="modal-content" style="background: black;">
			<!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">곡 추가</h4>
                <button type="button" class="close" data-dismiss="modal" onclick='mylist_box_re()'>&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" class="btn btn-danger form-control" onclick="senddata()">현재 재생 목록에 추가</button>
                <button type="button" class="btn btn-danger form-control mt-3" onclick="addModal_temp()">저장</button>
                <button type="button" class="btn btn-danger form-control mt-3" onclick="addModal_temp()">선물하기</button>
                <button type="button" class="btn btn-danger form-control mt-3" onclick="addModal_temp()">플레이리스트에 추가</button>
                <div id="idx_box" style="display: none;"></div>
                <div id="ytURL_box" style="display: none;"></div>
                <div id="mylist_box" class="mt-5"></div>
                <div id="addModal_message_box" style="display: none;" class="text-center"></div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="mclose_btn" type="button" class="btn btn-danger" data-dismiss="modal" onclick='mylist_box_re()'>Close</button>
            </div>
        </div>
	</div>
</div>

<div class="modal fade" id="addMany">
	<div class="modal-dialog">
		<div class="modal-content" style="background: black;">
			<!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">곡 추가</h4>
                <button type="button" class="close" data-dismiss="modal" onclick='mylist_box_re()'>&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" class="btn btn-danger form-control" onclick="godata_many()" data-dismiss="modal">현재 재생 목록에 추가</button>
                <button type="button" class="btn btn-danger form-control mt-3" onclick="addMany_temp()">플레이리스트에 추가</button>
                <div id="mylist_box_many" class="mt-5"></div>
                <div id="addModal_message_box_many" style="display: none;" class="text-center"></div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="mclose_btn" type="button" class="btn btn-danger" data-dismiss="modal" onclick='mylist_box_re()'>Close</button>
            </div>
        </div>
	</div>
</div>

<script>
	function addModal_temp() {
		$("#addModal_message_box").html("준비중인 서비스 입니다.")
		$("#addModal_message_box").slideDown(300)
		setTimeout(() => $("#addModal_message_box").slideUp(), 1000)
	}

	function addMany_temp() {
		$("#addModal_message_box_many").html("준비중인 서비스 입니다.")
		$("#addModal_message_box_many").slideDown(300)
		setTimeout(() => $("#addModal_message_box_many").slideUp(), 1000)
	}

	function getlist() {
		if ("${sVO}" == "") return;
		$.ajax({
			type : "post",
			url : "${ctp}/user/getlist",
			success : (data) => {
				let res = "";
				data.forEach((e) => {
					res += "<div class='d-flex justify-content-center ho mb-3' onclick='action(" + e.idx + ")'>";
					res += '<div style="width: 50px; height: 50px;" class="col-2">';
					res += '<div class="row" style="margin-left: 0px;">';
					if (e.thum1 == null) {
						res += '<div><img width="50px" src="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += '</div></div>';
					}
					else if (e.thum4 == null) {
						res += '<div><img width="50px" src="' + e.thum1 + '"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += '</div></div>';
					}
					else {
						res += '<div><img width="25px" src="' + e.thum1 + '"></div>';
						res += '<div><img width="25px" src="' + e.thum2 + '"></div>';
						res += '</div>';
						res += '<div class="row" style="margin-left: 0px;">';
						res += '<div><img width="25px" src="' + e.thum3 + '"></div>';
						res += '<div><img width="25px" src="' + e.thum4 + '"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += "</div></div></div>";
					}
				});
				mylist_box.innerHTML = res;
				
			} 
		});
	}

    function getlist_many() {
		if ("${sVO}" == "") return;
		$.ajax({
			type : "post",
			url : "${ctp}/user/getlist",
			success : (data) => {
				let res = "";
				data.forEach((e) => {
					res += "<div class='d-flex justify-content-center ho mb-3' onclick='action_many(" + e.idx + ")'>";
					res += '<div style="width: 50px; height: 50px;" class="col-2">';
					res += '<div class="row" style="margin-left: 0px;">';
					if (e.thum1 == null) {
						res += '<div><img width="50px" src="https://i1.sndcdn.com/avatars-000606604806-j6ghpm-t500x500.jpg"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += '</div></div>';
					}
					else if (e.thum4 == null) {
						res += '<div><img width="50px" src="' + e.thum1 + '"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += '</div></div>';
					}
					else {
						res += '<div><img width="25px" src="' + e.thum1 + '"></div>';
						res += '<div><img width="25px" src="' + e.thum2 + '"></div>';
						res += '</div>';
						res += '<div class="row" style="margin-left: 0px;">';
						res += '<div><img width="25px" src="' + e.thum3 + '"></div>';
						res += '<div><img width="25px" src="' + e.thum4 + '"></div>';
						res += '</div></div><div class="col">';
						res += e.listNm;
						res += "</div></div></div>";
					}
				});
				mylist_box_many.innerHTML = res;
			}
		});
	}
	
	function mylist_box_re() {
		mylist_box.innerHTML = "";
	}
</script>