<style>
	.imgBox:hover {
		opacity: 0.7;
		cursor: pointer;
	}
	
	#listCnt {
		position: fixed;
		top: 15px;
		right: 50px;
	}
</style>

<div class="modal" id="play_list_modal" data-backdrop="static" style="background-color: #111;">
    <div id="play_listContainer">
        <img id="play_listbg">
        <div id="play_listImg">
            <div>
                <img id="play_listImg_img" src="/img/music.png">
            </div>
        </div>
        <div id="play_listBox">
            <div id="listCnt"></div>
            <div class="mt-3">
                <div id="play_list" class="pfc" tabindex="0"></div>
            </div>
        </div>
    </div>
</div>