<style>
	.imgBox:hover {
		opacity: 0.7;
		cursor: pointer;
	}
	
	#list_selectedDelete {
		position: fixed;
		top: 15px;
		right: 49px;
	}

    #list_allCheck {
        position: fixed;
        top: 15px;
        right: 400px;
    }
    
    #list_selectedCnt{
        position: fixed;
        top: 15px;
        right: 200px;
    }

    #listCnt {
		position: fixed;
		bottom: 100px;
		right: 50px;
	}
</style>

<div class="modal" id="play_list_modal" data-backdrop="static" style="background-color: #111;">
    <div id="play_listContainer">
        <img id="play_listbg">
        <div id="play_listImg">
            <div>
                <img id="play_listImg_img" src="/img/music.png">
            </div>
        </div>
        <div id="play_listBox" class="myScroll">
            <div id="list_allCheck" class="ho">전체 선택</div>
            <div id="list_selectedCnt"></div>
            <div id="list_selectedDelete" title="삭제" class="ho"><i class="fa-regular fa-trash-can"></i></div>
            <div id="listCnt"></div>
            <div>
                <div id="play_list" tabindex="0"></div>
            </div>
        </div>
    </div>
</div>